body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a3afb8;
}
.top{
    background-color: black;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#btn-departament{
    background: white;
    color: black;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}
.middle {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 0 20px;
}
.middle input{
    padding: 8px;
    width: 300px;
    border: none;
    border-radius: 4px 0 0 4px;
}
.middle button{
    padding: 8px 12px;
    border: none;
    background-color: #ffffff;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}
.right a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}
.right a:hover{
    text-decoration: none;
}
.geral-cart{
    display: flex;
}
.container-product{
    height: auto;
    width: 1200px;
    margin-top: 100px;
    margin-left: 50px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-height: 500px;
}

.logo {
    width: 100px;
    height: auto;   
    margin-left: 10px;
}
.produto {
    padding: 2px;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: space-between;
}
.produto img {
    height: 100px;
    width: auto;
}
.produto h3 {
    width: 1000px;
}
.produto a {
    text-decoration: none;
}
p {
    color: #ffffff;
    text-align: center;
    align-items: center;
}
.preco {
    padding-right: 10px;
    display: inline;
    align-items: right;
    margin-right: 4px;
    width: 10%;
}

.container-resume{
    height: auto;
    width: 480px;
    padding: 30px 40px;
    margin-top: 100px;
    margin-left: 50px;
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    min-height: 500px;
    color: white
}
.container-resume h3{
    text-align: center;
    border-bottom: 1px solid #FFFF;
    margin-bottom: 50px;
}
.container-resume form {
}
.container-resume button {
    width: 100%;
    padding: 12px;
    background-color: green;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: large;
}
.container-resume button:hover {
    background-color: greenyellow;
}