body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a3afb8;
}

.topo{
    background-color: black;
    color: white;
    padding: 6px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#btn-departamento{
    background: white;
    color: black;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.esquerda {
    display: flex;
    align-items: center;
}

.esquerda .logo {
    margin-left: 10px;
}

.meio {
    display: flex;
    flex: 1;
    justify-content: center;
}

.direita{
    min-width: 100px;
    display: flex;
    justify-content: flex-end;
}

.direita a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

.direita a:hover{
    text-decoration: none;
}

.logo{
    width: 100px;
    height: auto;   
    margin-left: 10px;
}

#fechar-sidebar{
    color: white;
    border: none;
    font-size: 20px;
    display: block;
    cursor: pointer;
    margin-bottom: 20px;
    text-decoration: none;
}

#sidebar{
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    transform: translateX(-250px);
    color: white;
    width: 200px;
    height: 100%;
    padding: 20px;
    transition: transform 0.3s ease;
    z-index: 1000;
}

#sidebar:target{
    transform: translateX(0);
}

.voltar{
    padding-top: 20px;
    border-top: 1px solid white;
}

.voltar a{
    color: white;
    text-decoration: none;
}
.suporte{
    padding-top: 20px;
}

.suporte a{
    color: white;
    text-decoration: none;
}

#sidebar ul{
    list-style: none;
    padding: 0;
}

#sidebar ul li{
    margin: 20px 0;
}

#sidebar ul li a{
    color: white;
    text-decoration: none;
}

.busca{
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.busca form input{
    padding: 9px;
    width: 300px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.busca form{
    display: flex;
    align-items: center;
}

.busca form .pesquisa{
    padding: 8px 11px;
    border: none;
    background-color: #ffffff;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.busca form .cat{
    width: 30%;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
}

.adicionarproduto{
    padding: 8px 12px;
    background-color: #2546fd;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0 4px 4px 0;
    margin-left: 2px;
    color: white;
}

.tabela-main{
    padding: 20px;
}

.tabela .cabecalho{
    border-bottom: 2px solid #dddddd;
}

.tabela{
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.tabela th, .tabela td{
    padding: 8px 10px;
    text-align: center;
}

.tabela tbody tr{
    border-bottom: 2px solid #dddddd;
}

.tabela tbody tr:hover {
    background-color: #e9ecef;
}

.tabela .linha{
    display: flex;
    gap: 10px;
}

.tabela .editar, .tabela .excluir{
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.alerta {
    position: fixed;
    top: 20px;
    right: 20px;
    min-width: 250px;
    max-width: 400px;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 15px;
    z-index: 9999;
    background-color: #4CAF50;
    color: white;
    opacity: 1;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    gap: 10px;
    transform: translateX(100%);
    animation: slideIn 0.5s forwards, fadeOut 5s ease-out forwards;
    transition: opacity 1s ease;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}