body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a3afb8;    
    align-items: center;
    margin: 0;
    padding: 0;
}

.logo {
    width: 400px;
    height: auto;
    display: block;
    margin: 0 auto; /* <- Esta linha centraliza horizontalmente */
}

h3 {
    font-size: 80px;
}
